body {
  margin: 0;
  padding: 0 1em;
  font-family: sans-serif;
  line-height: 1.75;
}
.error {
  margin: 0 auto;
  max-width: 100%;
  width: 32em;
}
.error__title {
  margin: 3em 0 0;
  font-size: 250%;
  line-height: 1.5;
}
