//  Common blocks
.page-header__meta {
  padding-left: 0;
  list-style-type: none;
}
.page-header__pubdate,
.page-header__tags {
  display: inline-block;
}
.page-header__pubdate {
  margin-right: 1em;
}


//  Widget blocks
.article-list {
  padding-left: 0;
  list-style-type: none;
}
.article-list__item {
  padding: {
    top: .375em;
    bottom: .375em;
  }
  border-bottom: 1px solid #ecece9;
}
.article-list__title {
  font-weight: bold;
}
.article-list__pubdate {
  display: block;
  font-size: 87.5%;
}

.tag-list--all {
  padding-left: 0;
  list-style-type: none;
}
.tag-list--all__item {
  padding: {
    top: .375em;
    bottom: .375em;
  }
  border-bottom: 1px solid #ecece9;
}
.tag-list--all__link {
}
.tag-list--all__count {
  margin-left: .5em;
  font-size: 87.5%;
}

.breadcrumbs-like {
  margin-top: 2em;
}


// AdSense
.adsense__content {
  margin: 2em 0;
}