//  Common blocks
.page-header {
  border-bottom: 1px solid #ecece9;
  background-color: #f6f6f3;
  color: #321;
}
.page-header__meta {
  margin-top: 0;
  list-style-type: square;
}


//  Widget blocks
.article-list {
  padding-left: 0;
  list-style-type: none;
}
.article-list__item {
  padding: {
    top: .375em;
    bottom: .375em;
  }
  border-bottom: 1px solid #ecece9;
}
.article-list__title {
  font-weight: bold;
}
.article-list__pubdate {
  display: block;
  font-size: 87.5%;
}

.tag-list--all {
  padding-left: 0;
  list-style-type: none;
}
.tag-list--all__item {
  padding: {
    top: .375em;
    bottom: .375em;
  }
  border-bottom: 1px solid #ecece9;
}
.tag-list--all__link {
}
.tag-list--all__count {
  margin-left: 1em;
  font-size: 87.5%;
}

.breadcrumbs-like {
  margin-top: 2em;
}


// AdSense
.adsense__content {
  margin: 2em 0;
}