.site-nav {
  border-top: 1px solid #ecece9;
  background-color: #f6f6f3;
  color: #666663;
}

.site-nav__title {
  text-align: center;
}

.search__content {
  margin: {
    left: 1.25em;
    right: 1.25em;
  }
  text-align: center;

  display: flex;
}

.search__query {
  padding: .25em .5em;
  width: 13em;
  border: 1px solid #999;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  flex: 1 1 auto;
}

.search__submit {
  margin-left: -1px;
  padding: .25em .5em;
  border: 1px solid #999;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ecece9;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .2), rgba(255, 255, 255, .05) 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .2));
  color: #221;
  text-transform: uppercase;

  flex: 0 0 auto;
}

.nav-item__title {
  margin-top: 2em;
  margin-bottom: 1em;
  padding-bottom: .625em;
  font-size: 100%;
  line-height: 1.75;
  border-bottom: 1px solid #a2a2a0;
}

%nav-triangle-mark {
  padding-left: 1.25em;
  position: relative;

  &:before {
    content: '';
    height: 0;
    position: absolute;
    left: .25em;
    top: .625em;
    border: {
      left: .5em solid #666663;
      top: .25em solid transparent;
      bottom: .25em solid transparent;
    }
  }
}

.archive-list {
  padding-left: 0;
  list-style-type: none;
}

.archive-list__item {
  margin-right: 1em;
  display: inline-block;
  @extend %nav-triangle-mark;
}

.tag-list {
  @extend .archive-list;
}
.tag-list__item {
  @extend .archive-list__item;
}
.tag-list__more {
  text-align: right;
}

.contents-list__item {
  margin-top: 0;
  @extend %nav-triangle-mark;
}
.contents-list__desc {
  margin-left: 1.25em;
}