.site-nav {
  border-top: 4px solid #ecece9;
  background-color: #f6f6f3;
  color: #321;
}

.site-nav__title {
  margin-top: 0;
  text-align: center;
}

.search__content {
  margin: {
    left: 1.25em;
    right: 1.25em;
  }
  text-align: center;

  display: flex;
}

.search__query {
  padding: .25em .5em;
  width: 13em;
  border: 1px solid #999;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  flex: 1 1 auto;

  &:focus {
    border-color: #36c;
    outline: none;
  }
}

.search__submit {
  margin-left: -1px;
  padding: .25em .5em;
  border: 1px solid #999;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ecece9;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .2), rgba(255, 255, 255, .05) 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .2));
  color: #221;
  text-transform: uppercase;

  flex: 0 0 auto;

  &:hover,
  &:focus,
  &:active,
  .search__query:focus + & {
    border-color: #36c;
    background-color: #48f;
    color: #fff;
  }

  &:active,
  .search__query:active + & {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .05) 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .2));
  }
}

%nav-triangle-mark {
  padding-left: 1.25em;
  position: relative;

  &:before {
    content: '';
    height: 0;
    position: absolute;
    left: .25em;
    top: .625em;
    border: {
      left: .5em solid #666663;
      top: .25em solid transparent;
      bottom: .25em solid transparent;
    }
  }
}

.archive-list {
  padding-left: 0;
  list-style-type: none;
}

.archive-list__item {
  margin-right: 1em;
  display: inline-block;
  @extend %nav-triangle-mark;
}

.tag-list {
  @extend .archive-list;
}
.tag-list__item {
  @extend .archive-list__item;
}
.tag-list__item--last {
  font-weight: bold;
}

.contents-list__item {
  margin-top: 0;
  @extend %nav-triangle-mark;
}
.contents-list__desc {
  margin-left: 1.25em;
}