.search__content {
  text-align: center;

  display: flex;
}

.search__query {
  padding: .25em .5em;
  width: 13em;
  border: 1px solid #999;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  flex: 1 1 auto;

  &:focus {
    border-color: #36c;
    outline: none;
  }
}

.search__submit {
  margin-left: -1px;
  padding: .25em .5em;
  border: 1px solid #999;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ecece9;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .2), rgba(255, 255, 255, .05) 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .2));
  color: #221;
  text-transform: uppercase;

  flex: 0 0 auto;

  &:hover,
  &:focus,
  &:active,
  .search__query:focus + & {
    border-color: #36c;
    background-color: #48f;
    color: #fff;
  }

  &:active,
  .search__query:active + & {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .05) 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .2));
  }
}
