.affiliate {
  position: relative;
  margin: 2.125em 0;
}
.affiliate-title {
  position: absolute;
  left: 1px;
  top: 1px;
  margin: 0;
  padding: 0 .375em;
  font-size: 100%;
  line-height: 1.75;
  background: $ps-k25;
  color: $ps-k100;
}
.affiliate-content {
  border: 1px solid $ps-k50;
}
.affiliate-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 1em;
  text-decoration: none;

  @media (min-width: 30em) {
    flex-direction: row;
    min-height: 12em;
  }
}
.affiliate-thumb {
  flex: 0 0 33%;
  max-width: 15em;
}
// .affiliate-image {}
.affiliate-texts {
  flex: auto;
  width: 100%;
}
.affiliate-name {
  margin-top: 0;
  text-decoration: underline;
}
.affiliate-action {
  margin-top: 1em;
}
.affiliate-label {
  display: block;
  box-sizing: border-box;
  padding: .625em 1em;
  font-weight: 700;
  text-align: center;

  &._for-amazon {
    background-color: #ff9900;
    color: $ps-k100;
  }

  &._for-tower {
    background-color: #FFCC03;
    color: #C3151B;
    text-transform: uppercase;
  }
}
