.affiliate {
  position: relative;
  margin: 3em 0;
  padding: 1rem;
  border: 1px solid $ps-k50;
}
.affiliate-title {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0 .375em;
  font-size: 100%;
  line-height: 1.75;
  background: $ps-k25;
  color: $ps-k100;
}
@media (min-width: 40rem) {
  .affiliate-content {
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: 1fr 1.9fr;
  }
}
@media not all and (min-width: 40rem) {
  .affiliate-thumb {
    max-width: 360px;
    width: fit-content;
    margin: auto;
  }
  .affiliate-image {
    vertical-align: baseline;
  }
}
.affiliate-thumb > a,
.affiliate-info > a {
  display: block;
}
.affiliate-info,
.affiliate-instruction {
  text-align: center;
  text-wrap: balance;
}
.affiliate-info,
.affiliate-note {
  margin-top: 0;
}
.affiliate-author,
.affiliate-artist,
.affiliate-promocode {
  display: block;
}
.affiliate-promotext {
  font-weight: var(--font-weight-marking);
}
.affiliate-promocode {
  font-size: 150%;
}
.affiliate-instruction,
.affiliate-note {
  font-size: 87.5%;
}
.affiliate-instruction {
  margin-top: calc(1rlh - 1lh);
}
.affiliate-note {
  padding-left: 1em;
  color: var(--color-ps-k75);
  text-indent: -1em;
}
.affiliate-action {
  margin-top: calc((1lh - 1cap) / 2);
}
.affiliate-onsale {
  display: block;
  font-size: 87.5%;
  line-height: 2.2857;
  text-align: center;
}
.affiliate-link {
  display: block;
  padding: .5rem 0;
  font-weight: var(--font-weight-emphasis);
  font-feature-settings: "palt";
  text-align: center;
  text-decoration: none;

  &._for-amazon {
    background-color: #ff9900;
    color: $ps-k100;
  }

  &._for-tower {
    background-color: #FFCC03;
    color: #C3151B;
    text-transform: uppercase;
  }

  &._for-soundhouse {
    background-color: #795284;
    color: $ps-k00;
  }

  &._for-mercari {
    background-color: #EE000E;
    color: $ps-k00;
  }

  &._for-flexispot {
    background-color: #004DF2;
    color: $ps-k00;
  }

  &._for-rakuten {
    background-color: #bf0000;
    color: $ps-k00;
  }

  &._for-yahoo {
    background-color: #6000D3;
    color: $ps-k00;
  }

  &._for-ubereats {
    background-color: #06C167;
    color: #000;
  }
}
.affiliate-seealso {
  font-size: 87.5%;
  line-height: 2.2857;
}
.affiliate-subtitle {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: .5rem 0;
  color: $ps-k75;
  font-size: 100%;
  font-weight: var(--font-weight-heading);
  line-height: 2.2857;
  text-align: center;

  &::before,
  &::after {
    content: "";
    flex-grow: 1;
    border-top: 1px dotted;
  }
}
.affiliate-list {
  @extend %reset-margin;
  @extend %reset-padding;
  @extend %reset-liststyle;

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
}
