//
//  component year_archives
//

.archive_list {
  @extend %reset-padding;
  @extend %reset-liststyle;
  margin: 1em -1em 0;
}
.archive_list-year {
  display: grid;
  border-top: 1px solid $ps-k30;

  @media (min-width: 48em) {
    grid-template-columns: max-content 1em 1fr;
  }

  &::before {
    content: "";
    align-self: center;
    order: 2;
    border-top: 1px dotted $ps-k30;

    @media (min-width: 48em) {
      border-top-width: 2px;
    }
  }
}
.archive_list-months {
  @extend %reset-liststyle;

  display: grid;
  grid-template-columns: repeat(6, max-content);
  order: 3;
  padding: 0 .5em;

  @media (min-width: 21em) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media (min-width: 38em) {
    grid-template-columns: repeat(12, auto);
  }

  @media (min-width: 48em) {
    padding-right: 1em;
  }
}
.archive_list-link {
  display: block;
  padding: .5em;
  font-variant-numeric: tabular-nums;
  letter-spacing: -.2px;

  &._has-icon {
    order: 1;
    padding-left: 1em;
    padding-right: 1em;
  }

  &._has-post,
  &._no-posts {
    text-align: center;
  }
  &._no-posts {
    color: $ps-k70;
  }
  &[href]:hover,
  &[href]:focus {
    background-color: $ps-k10;
  }
}

