//
//  component article_list (Similar: .related_list)
//

.article_list,
.related_list {
  @extend %reset-padding;
  @extend %reset-liststyle;

  display: grid;
  gap: 2em 1em;

  @media (min-width: 35em) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.article_list-item,
.related_list-item {
  display: flex;
  font-size: 87.5%;
  line-height: 1.5;
}
.article_list-link,
.related_list-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.article_list-image,
.related_list-image {
  vertical-align: baseline;
}
.article_list-title,
.related_list-title {
  text-decoration: underline;
}
.article_list-info,
.related_list-info {
  margin-top: auto;
  color: canvastext;
}
.related_list-ad {
  width: 100%;
  min-height: 100%;
}
