//
//  component article_list
//

.article_list {
  @extend %reset-padding;
  @extend %reset-liststyle;
}

.article_list-item {
  position: relative;
  margin: (1.75em / 2) -1em;
  padding: (1.75em / 2) 1em 0;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px dotted #ccc;
  }
}

.article_list-info {
  margin: {
    top: 0;
  }
}

// Similar component: .related_list

.related_list {
  @extend %reset-padding;
  @extend %reset-liststyle;

  display: grid;
  gap: 1.75em 1em;

  @media (min-width: 35em) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.related_list-link {
  text-decoration: none;
}
.related_list-image {
  vertical-align: baseline;
}
.related_list-texts {
  display: flow-root;
  margin-top: 0;
  font-size: 87.5%;
  line-height: 1.5;
}
.related_list-title {
  text-decoration: underline;
}
.related_list-info {
  display: block;
  color: canvastext;
}