//
//  post_thumbnail
//

.post_thumbnail {
  text-align: center;
}

//
//  compact_list
//

.compact_list {
  padding-left: 0;

  li {
    display: inline;

    // &:not(:last-child)::after {
    //   content: ' / ';
    // }
    &:before {
      content: ' / ';
    }

    &:first-child:before {
      content: none;
    }
  }
}

//
//  footnotes
//

.footnotes {
  position: relative;
  margin-top: 4em;
  padding-top: 2em;
  color: #333;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }

  ol,
  p {
    margin-top: 0;
  }

  li {
    @extend small;
  }
}

// .movie
.movie-source {
  width: 100%;

  &._youtube {
    aspect-ratio: 16 / 9;
    height: auto;
    border: 0;
  }
}

// strong another color
strong.sad {
  color: hsl(220, 75%, 30%);
}

// note
.note {
  margin: 3em 0;
  padding: 1em 1.5em;
  border: 2px solid $ps-k20;
  background-color: $ps-k10;
  color: $ps-k100;
}
