//
//  post_thumbnail
//

.post_thumbnail {
  text-align: center;
}

//
//  compact_list
//

.compact_list {
  padding-left: 0;

  li {
    display: inline;

    // &:not(:last-child)::after {
    //   content: ' / ';
    // }
    &:before {
      content: ' / ';
    }

    &:first-child:before {
      content: none;
    }
  }
}

//
//  footnotes
//

sup[role=doc-noteref] {
  top: -.75em;
  font-size: calc(1/1.5 * 100%);
}

.footnote {
  margin-inline: 2px;
  text-decoration: none;
  
  &::before {
    content: '[';
    margin-right: 1px;
  }

  &::after {
    content: ']';
    margin-left: 1px;
  }
}
.footnotes {
  position: relative;
  margin-top: 4em;
  padding-top: 2em;
  color: #333;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }

  ol,
  p {
    margin-top: 0;
  }

  li {
    @extend small;
  }
}

// .movie
.movie-source {
  width: 100%;

  &._youtube {
    aspect-ratio: 16 / 9;
    height: auto;
    border: 0;
  }
}

// strong another color
strong.sad {
  color: hsl(220, 75%, 30%);
}

// note
.note {
  margin: 3em 0;
  padding: 1em 1.5em;
  border: 2px solid $ps-k20;
  background-color: $ps-k10;
  color: $ps-k100;
}

// quote
.quote {
  position: relative;
  padding: 2rem 2rem 2rem calc(2rem - 4px);
  border-left: 4px solid $ps-k50;
  background: {
    color: $ps-k10;
    image: url(../images/quotes-left.svg), url(../images/quotes-right.svg);
    position: left .5rem top .25rem, right .5rem bottom .25rem;
    repeat: no-repeat;
    size: 2rem;
  }
  color: $ps-k90;

  & > blockquote {
    margin: 0;
    padding: 0;
  }

  & > figcaption {
    display: flex;
    gap: .5rem;
    align-items: first baseline;
    margin: 2rem 0 0;
  }

  & > figcaption::before {
    content: "\2014";
  }

  & > figcaption > cite {
    quotes: none;
  }
}
