.cse-content {
  display: flex;
  margin-top: 0;
}

.cse-query {
  -webkit-appearance: none;
  flex-grow: 1;
  width: 12.5em;
  height: (1.75em / 4 * 5);
  padding: 0 (1.75em / 4);
  border: 1px solid #ccc;
  border-radius: 0;
  // Safari だけテキストずれる対策
  line-height: normal;

  &:focus {
    border-color: hsl(220, 75%, 45%);
    outline: 0;
  }
}

.cse-submit {
  flex-basis: 25%;
  height: (1.75em / 4 * 5);
  margin-left: -1px;
  padding: 0 1em;
  border: 1px solid #999;
  border-radius: 0;
  background: darken(#fff, 5%);
  color: #666;
  vertical-align: bottom;

  &:hover,
  &:focus {
    outline: 0;
    border-color: hsl(220, 75%, 45%);
    background: hsl(220, 75%, 45%);
    color: #fff;
  }

  .cse-query:focus + & {
    border-color: hsl(220, 75%, 45%);
    background: lighten(hsl(220, 75%, 45%), 10%);
    color: #fff;
  }
}
