.cse-content {
  display: flex;
  margin-top: 0;
}

.cse-query,
.cse-submit {
  min-width: 0;
  padding: calc(.5em - 1px);
  line-height: 1.5;
}

.cse-query {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 0;

  &:focus {
    border-color: hsl(220, 75%, 45%);
    outline: 0;
  }
}

.cse-submit {
  flex-shrink: 0;
  flex-basis: 25%;
  margin-left: -1px;
  border: 1px solid #999;
  border-radius: 0;
  background: darken(#fff, 5%);
  color: #666;

  &:hover,
  &:focus {
    border-color: hsl(220, 75%, 45%);
    background: hsl(220, 75%, 45%);
    color: #fff;
  }

  .cse-query:focus + & {
    border-color: hsl(220, 75%, 45%);
    background: lighten(hsl(220, 75%, 45%), 10%);
    color: #fff;
  }
}
