// .footer {}

.footer-content {
  position: relative;
  max-width: 46em;
  margin: auto;
  padding: 2em 1em;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px dotted #ccc;
  }
}
@media (min-width: 48em) {
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
}
