.identity {
  display: inline-block;
  color: $ps-k100;

  &[href] {
    transition-property: color;
    transition-duration: .3s;

    &:hover {
      color: hsl(220, 75%, 45%);
    }
  }

  & > svg {
    vertical-align: bottom;
  }
}
