.identity {
  display: inline-flex;
  align-items: baseline;
  color: $ps-k100;
  font-size: 125%;
  font-weight: 700;

  &[href] {
    text-decoration: none;
    transition-property: color;
    transition-duration: .3s;

    &:hover {
      color: hsl(220, 75%, 45%);
    }
  }
}

.identity > abbr {
  width: 2em;
  border-radius: 50%;
  background-color: $ps-k100;
  color: $ps-k00;
  font-size: 140%;
  line-height: 2;
  text-align: center;
  text-decoration: none;
  transition: background-color ease-in .3s;
}
.identity[href]:hover > abbr {
  background-color: hsl(220, 75%, 45%);
}