//
//  component page_section & related_section
//

// .page_section

.page_section-title {
  margin: {
    top: ($_base-vunit * 8 / get_fs(5) + em);
  }
  @include auto_scaling(5);
}
.related_section-title {
  @extend .page_section-title;
  margin-bottom: 0;
}
