.search_results {
  min-height: 20em;
  margin: (2em * 2) -1em;
  padding: {
    top: 2em;
  }
  border-top: 1px solid #ccc;
  line-height: normal;

  //  Reset default table styles
  table, th, td {
    margin: 0;
    padding: 0;
    border: 0;
  }
}
