//
//  component tag
//

// .tag {}

.tag-link {
  padding: 0 (1.75em / 4);
  display: block;
  border-radius: 2px;
  text-decoration: none;
  background: darken(#fff, 5%);
  white-space: nowrap;

  &:hover,
  &:focus {
    background: hsl(220, 75%, 45%);
    color: #fff;
  }
}

.tag-count {
  margin-left: .25em;
  position: relative;
  top: -.5em;
  color: lighten(#000, 40%);
  font-size: set_relative_fs(11px);

  a:hover > &,
  a:focus > & {
    color: darken(#fff, 10%);
  }
}

.tag-bracket {
  display: none;
}
