//
//  component toc (table of contents)
//

// .toc {}

.toc-content {
  position: relative;
  max-width: 46em;
  margin: auto;
  padding: 2em 1em;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
}

.toc-title {
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  @include auto_scaling(5);
}

.toc-list {
  margin-top: (2em / 4 * 3);
  padding: {
    left: 0;
  }
}

.toc-name {
  display: initial;
  margin: {
    top: ($_base-vunit * 2 / 16px + em);
  }
  font-weight: 400;

  & abbr {
    text-decoration: none;
  }

  &:before {
    content: none;
  }
}

@media (min-width: 32em) {
  .toc-list {
    display: grid;
    gap: 1px 1rem;
    grid-template-columns: max-content 1fr;
  }
  .toc-name {
    display: flex;
    margin-top: 0;

    & > a {
      display: flex;
      flex-grow: 1;
      align-items: center;
      padding: .5em 1em;
      background: darken(#fff, 5%);
      text-decoration: none;

      &:hover,
      &:focus {
        background: hsl(220, 75%, 45%);
        color: #fff;
      }
    }

    & abbr {
      margin-left: .375ch
    }
  }
  .toc-summary {
    align-self: center;
    padding: .5em 0
  }
}
