//
//  component toc (table of contents)
//

// .toc {}

.toc-content {
  position: relative;
  max-width: 46em;
  margin: auto;
  padding: 2em 1em;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
}

.toc-title {
  text-align: center;
  text-transform: uppercase;
  @include auto_scaling(5);
}

.toc-list {
  margin-top: (2em / 4 * 3);
  padding: {
    left: 0;
  }
}

.toc-name {
  margin: {
    top: ($_base-vunit * 2 / 16px + em);
  }
  font-weight: 375;

  & abbr {
    text-decoration: none;
  }

  &:before {
    content: none;
  }
}

.toc-summary {
  padding: (2em / 4) 0;
}

@supports (display: flex) {
  @media (min-width: 32em) {
    .toc-list {
      display: flex;
      flex-wrap: wrap;
    }
    .toc-name {
      display: flex;
      flex-basis: 10em;
      margin: {
        top: 0;
      }

      & > a {
        display: flex;
        flex-grow: 1;
        align-items: center;
        position: relative;
        padding: (1.75em / 4) (1.75em / 2);
        background: darken(#fff, 5%);
        text-decoration: none;

        &:hover,
        &:focus {
          background: hsl(220, 75%, 45%);
          color: #fff;
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          border-top: 1px solid #fff;
        }
      }

      & abbr {
        margin-left: .375ch
      }
    }

    .toc-summary {
      flex-basis: calc(100% - #{10em + 1.75em / 4 * 3});
      padding: {
        left: (1.75em / 4 * 3);
      }
    }
  }
}
