%landmark {
  margin: {
    left: -1em;
    right: -1em;
  }
  padding: {
    left: 1em;
    right: 1em;
  }
}
%landmark-inner {
  margin: {
    left: auto;
    right: auto;
  }
  width: 47em;
  max-width: 100%;
}

.site-banner {
  @extend %landmark;
  padding: {
    top: 1em;
    bottom: 1em;
  }
}

.site-nav {
  margin: {
    top: 2.5em;
  }
  @extend %landmark;
}

.site-footer {
  @extend %landmark;
}

.site-footer__content {
  @extend %landmark-inner;
  padding: {
    top: 2em;
    bottom: 2em;
  }
}

.site-banner__content,
.site-main__content,
.site-nav__content {
  @extend %landmark-inner;
}
