%base__outer {
  margin: {
    left: -1em;
    right: -1em;
  }
  padding: {
    left: 1em;
    right: 1em;
  }
}
%base__inner {
  margin: {
    left: auto;
    right: auto;
  }
  width: 46em;
  max-width: 100%;
}
%base__padder {
  padding: {
    top: 2.5em;
    bottom: 2.5em;
  }
}
