$grid-width: 2rem;
$grid-gutter: 1rem;

%clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin grid-span($_width: 1, $_float: none, $_isLast: false, $_grid: $grid-width, $_gutter: $grid-gutter) {
  width: ( $_grid + $_gutter ) * $_width - $_gutter;
  @if $_float == left {
    float: left;
    @if $_isLast == false {
      margin-right: $_gutter;
    }
  }
  @else if $_float == right {
    float: right;
    @if $_isLast == false {
      margin-left: $_gutter;
    }
  }
}
