@charset "utf-8";

body {
	background-color: hsla(45, 50%, 85%, 1);
}

.notice {
	display: none;
}

h1, p {
	text-align: center;
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-stretch: condensed;
}

p {
	font-family: Georgia, serif;
}

#page-top {
	margin: auto;
	width: 640px;
}

#page-content {
	border: 10px solid hsla(45, 50%, 75%, 0.7);
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.6);
	background-clip: padding-box;
	color: rgba(10, 10, 10);
	-webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75),
						0 0 5px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75),
				0 0 5px rgba(0, 0, 0, 0.5) inset;
}

#page-content p {
	margin: 1em;
	font-size: 120%;
	line-height: 1.33;
	text-shadow: 0 3px 0 rgba(255, 255, 255, 1);
	text-align: justify;
}

::selection {
	background-color: rgba(0, 0, 0, 0.5);
	color: rgb(255, 255, 255);
	text-shadow: 0 3px 0 rgba(0, 0, 0, 1);
}