//
//  typography.scss
//  set font family.
//  ==============================

// Inter Variable Fonts
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src:
    local(InterVariable),
    local('Inter Variable'),
    url('../fonts/InterVariable.woff2') format('woff2');
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src:
    local(InterVariableItalic),
    local('Inter Variable Italic'),
    url('../fonts/InterVariable-Italic.woff2') format('woff2');
}
@font-feature-values Inter {
  @character-variant {
    cv01: 1; cv02: 2; cv03: 3; cv04: 4; cv05: 5; cv06: 6; cv07: 7; cv08: 8; cv09: 9; cv10: 10; cv11: 11; cv12: 12; cv13: 13;
    alt-1:            1; /* Alternate one */
    alt-3:            9; /* Flat-top three */
    open-4:           2; /* Open four */
    open-6:           3; /* Open six */
    open-9:           4; /* Open nine */
    lc-l-with-tail:   5; /* Lower-case L with tail */
    simplified-u:     6; /* Simplified u */
    alt-double-s:     7; /* Alternate German double s */
    uc-i-with-serif:  8; /* Upper-case i with serif */
    uc-g-with-spur:  10; /* Capital G with spur */
    single-story-a:  11; /* Single-story a */
    compact-lc-f:    12; /* Compact f */
    compact-lc-t:    13; /* Compact t */
  }
  @styleset {
    ss01: 1; ss02: 2; ss03: 3; ss04: 4; ss05: 5; ss06: 6; ss07: 7; ss08: 8;
    open-digits: 1;                /* Open digits */
    disambiguation: 2;             /* Disambiguation (with zero) */
    disambiguation-except-zero: 4; /* Disambiguation (no zero) */
    round-quotes-and-commas: 3;    /* Round quotes &amp; commas */
    square-punctuation: 7;         /* Square punctuation */
    square-quotes: 8;              /* Square quotes */
    circled-characters: 5;         /* Circled characters */
    squared-characters: 6;         /* Squared characters */
  }
}

// Fix font-weight of Hiragino Sans being inconsistent depending on browser
@font-face {
  font-family: Hiragino Sans;
  font-weight: 100;
  src:
    local(HiraginoSans-W0),
    local("Hiragino Sans W0");
}
@font-face {
  font-family: Hiragino Sans;
  font-weight: 200;
  src:
    local(HiraginoSans-W1),
    local("Hiragino Sans W1");
}
@font-face {
  font-family: Hiragino Sans;
  font-weight: 250;
  src:
    local(HiraginoSans-W2),
    local("Hiragino Sans W2");
}
@font-face {
  font-family: Hiragino Sans;
  font-weight: 300;
  src:
    local(HiraginoSans-W3),
    local("Hiragino Sans W3");
}
@font-face {
  font-family: Hiragino Sans;
  font-weight: 400;
  src:
    local(HiraginoSans-W4),
    local("Hiragino Sans W4");
}
@font-face {
  font-family: Hiragino Sans;
  font-weight: 500;
  src:
    local(HiraginoSans-W5),
    local("Hiragino Sans W5");
}
@font-face {
  font-family: Hiragino Sans;
  font-weight: 600;
  src:
    local(HiraginoSans-W6),
    local("Hiragino Sans W6");
}
@font-face {
  font-family: Hiragino Sans;
  font-weight: 700;
  src:
    local(HiraginoSans-W7),
    local("Hiragino Sans W7");
}
@font-face {
  font-family: Hiragino Sans;
  font-weight: 800;
  src:
    local(HiraginoSans-W8),
    local("Hiragino Sans W8");
}
@font-face {
  font-family: Hiragino Sans;
  font-weight: 900;
  src:
    local(HiraginoSans-W9),
    local("Hiragino Sans W9");
}

:root {
  --font-stack-sans: Inter, Roboto, Helvetica Neue, Arial, Hiragino Sans;
  --font-stack-mono: ui-monospace, Menlo, Consolas;
  --font-stack-symbol: Inter, Segoe UI Symbol, Lucida Sans Unicode, Lucida Grande, Apple Symbols;
  
  --font-weight-text: 400;
  --font-weight-code: 400;
  --font-weight-marking: 500;
  --font-weight-emphasis: 700;
  --font-weight-heading: 700;
  --font-weight-heading-sub: 400;
  --font-weight-heading-heavy: 900;

  &._has-hiragino {
    --font-weight-heading-sub: 500;
  }
  &._has-hiragino._no-w4 {
    --font-weight-text: 320;
  }
}

html {
  font-family: var(--font-stack-sans), sans-serif;
  font-variant-alternates:
    character-variant(uc-i-with-serif, alt-double-s)
    styleset(open-digits, round-quotes-and-commas);
  font-weight: var(--font-weight-text);
}

pre {
  font-weight: var(--font-weight-code);
}

pre, code, samp,
pre var,
pre kbd {
  font-family: var(--font-stack-mono), monospace;
}

kbd {
  font-family: inherit;
}
