//
//  typography.scss
//  set font family.
//  ==============================

html {
  font-family: 'Source Sans 3', 'Hiragino Kaku Gothic ProN', 'Noto Sans CJK JP', Meiryo, sans-serif;
  font-size-adjust: .545;
  font-weight: 375;
}

pre, code, var, samp, kbd {
  font-family: Menlo, Consolas, 'Courier New', monospace;
}
