// colors: grayscale gradation

$ps-k100: #221815;
$ps-k95: #2f2725;
$ps-k90: #3e3a39;
$ps-k85: #4c4948;
$ps-k80: #595757;
$ps-k75: #666464;
$ps-k70: #727171;
$ps-k65: #7d7d7d;
$ps-k60: #898989;
$ps-k55: #949495;
$ps-k50: #9fa0a0;
$ps-k45: #aaabab;
$ps-k40: #b5b5b6;
$ps-k35: #bfc0c0;
$ps-k30: #c9caca;
$ps-k25: #d3d3d4;
$ps-k20: #dcdddd;
$ps-k15: #e6e6e6;
$ps-k10: #efefef;
$ps-k05: #f7f8f8;
$ps-k00: #fff;

// brand corporate colors

$brand-x: #000;
$brand-facebook: #1877f2;
$brand-hatena: #00a4de;
$brand-raindrop: #0b7ed0;

$link-color: hsl(220, 75%, 45%);
