---
layout: base
---
<main role="main" class="main">
  <div class="main-content">
    <header class="page_header">
      <div class="page_header-content">
        <h1 class="page_header-title">All articles published on <i class="page_header-taxonomy">{{ page.title | to_category_name }}</i></h1>
        <p class="page_header-summary">「{{ page.title | to_category_name }}」に公開された記事一覧</p>
      </div>
    </header>
    <div class="page_content">
      {%- assign year_posts = page.posts | group_by_year %}
      {%- for year_post in year_posts %}
      <section class="page_section">
        <h1 class="page_section-title">{{ year_post[0] }}年</h1>{% assign posts = year_post[1] %}
        <ul class="article_list">
          {%- for post in posts %}
          <li class="article_list-item">
            <a href="{{ post.url }}" class="article_list-link" title="{{ post.title | escape_once }}">
              <span class="article_list-thumb">
                <img alt="" src="
                  {%- if post.og.image -%}
                    {{ post.og.image }}
                  {%- else -%}
                    {{ site.og.image }}
                  {%- endif -%}
                " class="article_list-image" />
              </span>
              <span class="article_list-title">{{ post.title | escape_once }}</span>
              <span class="article_list-info">
                {% include icon.html icon="published" alt="公開日:" %}
                <time datetime="{{ post.date | date_to_xmlschema }}" class="article_list-date">{{ post.date | japanese_date}}</time>
              </span>
            </a>
          </li>
          {%- endfor %}
        </ul>
      </section>
      {%- if forloop.first %}
      {%- unless forloop.last %}
      {%- include adsense.html slot=5341752516 %}
      {%- endunless %}
      {%- endif %}
      {%- endfor %}
    </div>
    <p class="pager"><a href="/{{ page.title }}/"><span aria-hidden="true">←</span> {{ page.title | to_category_name }} 最新</a></p>
  </div>
</main>