---
layout: default
---
<main role="main" class="site-main hentry">
  <header class="page-header">
    <div class="page-header__content">
      <h1 class="page-header__title entry-title">{{ page.title }}</h1>
      <p class="page-header__summary entry-summary">{{ page.excerpt | strip_html | truncate: 128, '…' }}</p>
      <ul class="page-header__meta">
        <li class="page-header__pubdate"><time datetime="{{ page.date | date_to_xmlschema }}" class="published">{{ page.date | date_to_long_string }}</time></li>
        <li class="page-header__tags">Tags: {{ page.tags | tags_to_links | array_to_sentence_string }}</li>
      </ul>
    </div>
  </header>
  <div class="page-content entry-content">
    {{ content }}
  </div>
</main>