---
layout: default
---
<main role="main" class="site-main hentry">
  <header class="page-header">
    <div class="page-header__content">
      <h1 class="page-header__title entry-title">{{ page.title }}</h1>
      <p class="page-header__summary entry-summary">{{ page.excerpt | strip_html | truncate: 128, '…' }}</p>
      <ul class="page-header__meta">
        <li class="page-header__pubdate"><time datetime="{{ page.date | date_to_xmlschema }}" class="published">{{ page.date | date_to_long_string }}</time></li>
        <li class="page-header__tags">Tags: {{ page.tags | tags_to_links | array_to_sentence_string }}</li>
      </ul>
    </div>
  </header>
  <div class="page-content entry-content">
    {{ content }}
    {% include adsense.html %}
    <!-- X:S ZenBackWidget -->
    <div id="zenback-widget-loader"></div><script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var r=Math.ceil((new Date()*1)*Math.random());var j=d.createElement("script");j.id=i;j.async=true;j.src="//w.zenback.jp/v1/?base_uri=http%3A//jeffreyfrancesco.org/&nsid=89222910799046470%3A%3A89222952943373946&rand="+r;d.body.appendChild(j);}}(document,"zenback-widget-js");</script>
    <!-- X:E ZenBackWidget -->
    {% assign curr = page.url | split: '/' %}{% if curr[1] == 'weblog' %}{% assign cat_name = 'Weblog' %}{% else %}{% assign cat_name = 'Information' %}{% endif %}
    <p class="breadcrumbs-like">戻る:
      <a href="/">ホーム</a> /
      <a href="/{{ curr[1] }}/">{{ cat_name }} トップ</a>
    </p>
  </div>
</main>