---
layout: base
---
<main role="main">
  <header>
    <div>
      <h1>{{ page.title }}</h1>
      <p>{% auto_description %}</p>
      <p><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time></p>
    </div>
  </header>
  <div>
    {{ content }}
  </div>
  <!-- X:S ZenBackWidget -->
  <div id="zenback-widget-loader"></div><script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var r=Math.ceil((new Date()*1)*Math.random());var j=d.createElement("script");j.id=i;j.async=true;j.src="//w.zenback.jp/v1/?base_uri=http%3A//jeffreyfrancesco.org/&nsid=89222910799046470%3A%3A89222952943373946&rand="+r;d.body.appendChild(j);}}(document,"zenback-widget-js");</script>
  <!-- X:E ZenBackWidget -->
</main>
<div>
  <p>{% render_breadcrumbs %}</p>
</div>