---
layout: default
---
<main role="main">
  {% assign year = page.date | date: '%Y' %}
  <header>
    <div>
      <h1>
        <span>Archives:</span>
        All articles published in {{ year }}
      </h1>
      <p>{{ site.title }} 内のコンテンツのうち、{{ year }}年に公開されたもののタイトル一覧です。月ごとにセクション分けしてあります。</p>
    </div>
  </header>
  <div>
  {% assign posts = page.posts | group_by_month %}
  {% for month in posts %}
    <section>
      <h2 id="month{{ month[0] }}">{{ month[0] }}月</h2>
      <ul>{% for post in month[1] %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
        </li>{% endfor %}
      </ul>
    </section>{% endfor %}
  </div>
  <!-- include adsense.html -->
</main>