<aside class="associate">
  <h2 class="associate-title">商品広告</h2>
  <div class="associate-content">
    <a href="https://www.amazon.co.jp/dp/{{ include.asin }}/ref=nosim?tag=jforg06-22" class="associate-link">
      <div class="associate-thumb">
        <img alt="" src="{{ include.img }}" class="associate-image">
      </div>
      <div class="associate-texts">
        <p class="associate-name"><b>{{ include.text }}</b></p>
        <p class="associate-action"><span class="associate-label">Amazon で買う</span></p>
      </div>
    </a>
  </div>
</aside>
