<aside class="affiliate">
  <h2 class="affiliate-title">商品広告 <small>(Not Affiliate)</small></h2>
  <div class="affiliate-content">
    <!-- a href="https://www.amazon.co.jp/dp/{{ include.asin }}/ref=nosim?tag=jforg0b-22" class="affiliate-link" -->
    <a href="https://www.amazon.co.jp/dp/{{ include.asin }}/" class="affiliate-link">
      <div class="affiliate-thumb">
        <img alt="" src="{{ include.img }}" class="affiliate-image">
      </div>
      <div class="affiliate-texts">
        <p class="affiliate-name"><b>{{ include.text }}</b></p>
        <p class="affiliate-action"><span class="affiliate-label _for-amazon">Amazon で買う</span></p>
      </div>
    </a>
  </div>
</aside>
