<nav role="navigation" class="toc">
  <div class="toc-content">
    <h1 class="toc-title">Table of contents</h1>
    <dl class="toc-list">
      <dt class="toc-name"><a href="/weblog/">Taikin’ about J.F.</a></dt>
      <dd class="toc-summary">Web 制作やハモンドオルガン、地域の話題などに関する雑多なテキスト。</dd>
      <dt class="toc-name"><a href="/info/">Live &amp; event info</a></dt>
      <dd class="toc-summary">出演予定の Live・Event の日程や内容など、演奏活動に関するお知らせ。</dd>
      <dt class="toc-name"><a href="/explore/">Explorer <abbr title="Jeffrey Francesco">JF</abbr>.org</a></dt>
      <dd class="toc-summary">記事の検索フォームと、年別アーカイブページの一覧が置いてあります。</dd>
      <dt class="toc-name"><a href="/about/">About</a></dt>
      <dd class="toc-summary">サイト概略や著者プロフィールなど「最初にお読み下さい」的な何かです。</dd>
    </dl>
  </div>
</nav>
<aside class="footer_ads">
  <div class="footer_ads-content">
    <h2 class="footer_ads-title">広告</h2>
    <ul class="footer_ads-list">
      <li class="footer_ads-item">
        <a class="footer_ads-link _to-soundhouse" href="https://h.accesstrade.net/sp/cc?rk=0100epkz00nqgk" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="https://h.accesstrade.net/sp/rr?rk=0100epkz00nqgk" alt="サウンドハウス" /></a>
      </li>
      <li class="footer_ads-item">
        <a class="footer_ads-link _to-flexispot" href="https://px.a8.net/svt/ejp?a8mat=3ZM078+CL2W4Y+3TA8+6I9N5" rel="nofollow">
          <img width="234" height="60" alt="電動昇降デスク FlexiSpot" src="https://www24.a8.net/svt/bgt?aid=241211780761&wid=001&eno=01&mid=s00000017792001093000&mc=1">
        </a>
        <img width="1" height="0" src="https://www17.a8.net/0.gif?a8mat=3ZM078+CL2W4Y+3TA8+6I9N5" alt="">
      </li>
      <li class="footer_ads-item _for-tower">
        <script src="//ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=3717578&pid=891325454"></script><noscript><a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3717578&pid=891325454" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3717578&pid=891325454" border="0"></a></noscript>
      </li>
    </ul>
  </div>
</aside>
<footer role="contentinfo" class="footer">
  <div class="footer-content">
    <nav class="footer-nav misc">
      <p class="misc-content">
        <a href="/index.rss" class="misc-rss">RSS</a>
        <span aria-hidden="true" class="misc-dot">•</span>
        <a href="/contact/" class="misc-contact">著者に連絡</a>
        <span aria-hidden="true" class="misc-dot">•</span>
        <a href="/about/#Privacy" class="misc-privacy">プライバシー・ポリシー</a>  
      </p>
    </nav>
    <p class="footer-copy copyright">
      <small class="copyright-content">© 2009&ndash;{{ site.time | date: '%Y' }} <a href="/about/#Author" rel="author" class="copyright-author">Jeffrey Francesco</a>. <a href="https://creativecommons.org/licenses/by-nc/4.0/" rel="license" class="copyright-license">CC BY-NC 4.0</a></small>
    </p>
  </div>
</footer>