<nav role="navigation" class="toc">
  <div class="toc-content">
    <h1 class="toc-title">Table of contents</h1>
    <dl class="toc-list">
      <dt class="toc-name"><a href="/weblog/">Taikin’ about J.F.</a></dt>
      <dd class="toc-summary">Web 制作やハモンドオルガン、地域の話題などに関する雑多なテキスト。</dd>
      <dt class="toc-name"><a href="/info/">Live &amp; event info</a></dt>
      <dd class="toc-summary">出演予定の Live・Event の日程や内容など、演奏活動に関するお知らせ。</dd>
      <dt class="toc-name"><a href="/explore/">Explorer <abbr title="Jeffrey Francesco">JF</abbr>.org</a></dt>
      <dd class="toc-summary">検索フォームと、年別・タグ別アーカイブページの一覧が置いてあります。</dd>
      <dt class="toc-name"><a href="/about/">About</a></dt>
      <dd class="toc-summary">サイト概略や著者プロフィールなど「最初にお読み下さい」的な何かです。</dd>
    </dl>
  </div>
</nav>
<footer role="contentinfo" class="footer">
  <div class="footer-content">
    <p class="subscribe">Subscribe via:
      <a href="/index.rss" class="subscribe-item for-rss">{% include icon.html icon="rssfeed" alt="RSS" %}</a>
      <a href="https://twitter.com/JForg" class="subscribe-item for-twitter">{% include icon.html icon="twitter" alt="Twitter" %}</a>
      <a href="https://www.facebook.com/jeffreyfrancesco.org" class="subscribe-item for-facebook">{% include icon.html icon="facebook" alt="Facebook" %}</a>
    </p>
    <p class="copyright"><small>© 2009&ndash;{{ site.time | date: '%Y' }} Jeffrey Francesco.</small></p>
  </div>
</footer>