<div role="banner" class="site-banner">
  <div class="site-banner__content">
    <a class="sitename" href="/">
      <object role="img" aria-labelledby="sitename-alt" type="image/svg+xml" data="{% asset_path logo.svg %}" width="288" height="40" class="sitename__img" onload="if(this.getSVGDocument) this.getSVGDocument().documentElement.style.cursor='pointer'">
        <object role="img" aria-labelledby="sitename-alt" type="image/png" data="{% asset_path logo.png %}" width="288" height="40" class="sitename__img--fallback">
          <span id="sitename-alt">JeffreyFrancesco.org</span>
        </object>
      </object>
      <span class="sitename__version">Version 2.0β</span>
    </a>
  </div>
</div>