<head>
  <meta charset="UTF-8" />
  <title>{% if page.title %}{{ page.title}} / {% endif %}{{ site.title }}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | truncate: 128, '…' }}{% else %}{{ site.description }}{% endif %}" />

  {% stylesheet style media="all" / %}
  <link rel="alternate" href="{{ site.url }}/index.rss" type="application/rss+xml" />
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace: 'index.html', '' }}" />

  <!-- Typekit font -->
  <script src="//use.typekit.net/toc2mmg.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>