<aside class="related_section">
  <h2 class="related_section-title">関連してそうな記事<small>（β版）</small></h2>
  <ul class="related_list">
  {%- for post in site.related_posts limit:6 %}
    <li class="related_list-item">
      <a href="{{ post.url }}" class="related_list-link" title="{{ post.title | escape_once }}">
        <div class="related_list-thumb">
          <img alt="" src="
            {%- if post.og.image -%}
              {{ post.og.image }}
            {%- else -%}
              /images/ogp_default.jpg
            {%- endif -%}
          " class="related_list-image" />
        </div>
        <p class="related_list-texts">
          <span class="related_list-title">{{ post.title | truncate: 40 | escape_once }}</span>
          <span class="related_list-info">
            {% include icon.html icon="published" alt="公開日:" %}
            <time datetime="{{ post.date | date_to_xmlschema }}" class="related_list-date">{{ post.date | japanese_date}}</time>
          </span>
        </p>
      </a>
    </li>
  {%- endfor %}
  </ul>
</aside>
