<aside class="affiliate">
  <h2 class="affiliate-title">商品広告</h2>
  <div class="affiliate-content">
    <a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3717578&pid=890458793&vc_url={{ include.url | cgi_escape }}" rel="nofollow" class="affiliate-link">
      <div class="affiliate-thumb">
        <img alt="" src="{{ include.img }}" class="affiliate-image">
      </div>
      <div class="affiliate-texts">
        <p class="affiliate-name">
          <b>{{ include.text }}</b>
          <img alt="" src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3717578&pid=890458793" height="1" width="0" class="affiliate-beacon">
        </p>
        <p class="affiliate-action"><span class="affiliate-label">Tower Records Online で買う</span></p>
      </div>
    </a>
  </div>
</aside>
