---
layout: null
---
<!DOCTYPE html>
<html lang="ja">
{% include head.html %}
<body>
<div role="banner" class="site-banner">
  <div class="site-banner__content">
    <h1 class="sitename">
      <object role="img" aria-labelledby="sitename-alt" type="image/svg+xml" data="{% asset_path logo.svg %}" width="288" height="40" class="sitename__img" onload="if(this.getSVGDocument) this.getSVGDocument().documentElement.style.cursor='pointer'">
        <object role="img" aria-labelledby="sitename-alt" type="image/png" data="{% asset_path logo.png %}" width="288" height="40" class="sitename__img--fallback">
          <span id="sitename-alt">JeffreyFrancesco.org</span>
        </object>
      </object>
      <span class="sitename__version">Version 2.0β</span>
    </h1>
  </div>
</div>

<main role="main" class="site-main">
  <div class="site-main__content">
    <section class="home-content">
      <h2 class="home-content__title">Latest 10 articles</h2>
      <ul class="article-list">{% for post in site.posts limit:10 %}
        <li class="article-list__item">
          <a href="{{ post.url }}" class="article-list__title">{{ post.title }}</a>
          <time datetime="{{ post.date | date_to_xmlschema }}" class="article-list__pubdate">{{ post.date | date_to_string }}</time>
        </li>{% endfor %}
      </ul>
    </section>
    {% include adsense.html %}
  </div>
</main>

{% include footer.html %}
</body>
</html>
