---
layout: base
type:   home
permalink: /
---
<main role="main" class="main">
  <div class="main-content">{% assign latest = site.posts | first %} 
    <section class="article_summary">
      <h1 class="article_summary-title">
        <a href="{{ latest.url }}">
          <img alt="" src="
            {%- if latest.og.image -%}
              {{ latest.og.image }}
            {%- else -%}
              {{ site.og.image }}
            {%- endif -%}
          " class="article_summary-thumb">
          {{ latest.title | escape_once }}
        </a>
      </h1>
      <p class="article_summary-info">
        {% include icon.html icon="published" alt="公開日:" %}
        <time datetime="{{ latest.date | date_to_xmlschema }}">{{ latest.date | japanese_date }}</time>
      </p>
      <p class="article_summary-desc">{{ latest.excerpt | excerptalize }}</p>
    </section>
    {% include adsense.html slot=5341752516 %}
    <ul class="article_list">{% for post in site.posts offset:1 limit:9 %}
      <li class="article_list-item">
        <a href="{{ post.url }}">{{ post.title | escape_once }}</a>
        <p class="article_list-info">
          {% include icon.html icon="published" alt="公開:" %}
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | japanese_date }}</time>
        </p>
      </li>{% endfor %}
    </ul>
    {% include ads_multiplex.html %}
  </div>
</main>