---
layout:  html_page
title:   Live &amp; event info
excerpt: 出演予定の Live・Event の日程や内容など、演奏活動に関するお知らせ。古いものにはそうじゃないのも交じってますが、あまり気にしないで下さい。なお本番直前（1日前とか）に更新される場合もありますので、情報源としては大して機能しません。
permalink: /info/
---
<div class="page_content">{% assign newer = site.categories.info | select_newer %}
  <section class="page_section">
    <h1 class="page_section-title">最新のお知らせ</h1>{% if newer.size == 0 %}
    <p>今のところ、近日中に出演予定の Live・Event はありません。</p>{% else %}{% assign next = newer | first %}
    <section class="article_summary">
      <h1 class="article_summary-title">
        <a href="{{ next.url }}">
          <img alt="" src="
            {%- if next.og.image -%}
              {{ next.og.image }}
            {%- else -%}
              {{ site.og.image }}
            {%- endif -%}
          " class="article_summary-thumb" width="1200" height="630" loading="lazy" />
          {{ next.title | escape_once }}
        </a>
      </h1>
      <p class="article_summary-info"><time datetime="{{ next.schema.start_at | date_to_xmlschema }}">{{ next.schema.start_at | date: "%Y 年 %-m 月 %-d 日 %H 時 %M 分" }}</time> @ {{ next.schema.place }}</p>
      <p class="article_summary-desc">{{ next.excerpt | excerptalize }}</p>
    </section>
    {% if newer.size > 1 %}
    <ul class="article_list">{% for event in newer offset:1 %}
      <li class="article_list-item">
        <a href="{{ event.url }}">{{ event.title | escape_once }}</a>
        <p class="article_list-info">
          <time datetime="{{ event.schema.start_at | date_to_xmlschema }}">{{ event.schema.start_at | date: "%Y 年 %-m 月 %-d 日 %H 時 %M 分" }}</time> @ {{ event.schema.place }}
        </p>
      </li>{% endfor %}
    </ul>{% endif %}{% endif %}
  </section>
  {% include adsense.html slot=5341752516 %}
  <section class="page_section">
    <h1 class="page_section-title">過去のお知らせ一覧</h1>
    <ul class="article_list">
      {%- assign older = site.categories.info | select_older %}
      {%- for event in older limit:12 %}
      <li class="article_list-item">
        <a href="{{ event.url }}" class="article_list-link" title="{{ event.title | escape_once }}">
          <span class="article_list-thumb">
            <img alt="" src="
              {%- if event.og.image -%}
                {{ event.og.image }}
              {%- else -%}
                {{ site.og.image }}
              {%- endif -%}
            " class="article_list-image" width="1200" height="630" loading="lazy" />
          </span>
          <span class="article_list-title">{{ event.title | escape_once }}</span>
          <span class="article_list-info">
            {% include icon.html icon="calendar" alt="公開日:" %}
            <time datetime="{{ event.date | date_to_xmlschema }}" class="article_list-date">{{ event.date | date: "%Y 年 %-m 月 %-d 日"}}</time>
          </span>
        </a>
      </li>
      {%- endfor %}
    </ul>
  </section>
</div>
<nav class="pagination">
  <ul class="pagination-list">
    <li class="pagination-next">
      <a href="{{ page.url }}all/" class="pagination-link _next">
        <span class="pagination-texts _next">
          <span class="pagination-label">{{ page.title }}</span>
          <span class="pagination-title">全お知らせ一覧</span>
        </span>
      </a>
    </li>
  </ul>
</nav>
