//
//  component pager
//

.pager {
  margin: (1.75em * 2) 0;

  & > a {
    display: inline-block;
    padding: ($_base-vunit / get_fs(4) + em) ($_base-vunit * 3 / get_fs(4) + em);
    border-radius: 2px;
    background: darken(#fff, 5%);
    color: hsl(220, 75%, 45%);
    text-decoration: none;

    &:hover,
    &:focus {
      background: hsl(220, 75%, 45%);
      color: #fff;
    }
  }
}