//
//  component tag_list
//

.tag_list {
  @extend %reset-padding;
  @extend %reset-liststyle;
  @extend %clearfix;

  margin: {
    right: (1.75em / -4);
    top: (1.75em / 4);
  }
}

.tag_list-tag {
  margin: (1.75em / 4) (1.75em / 4) 0 0;
  float: left;
}
